/////////////////Variables
//Font Variables
$color-slider-light: #ffa399;
$color-slider-dark: #ff4d97;
$color-primary: #dddbff;
$color-primary-gray: #848794;
$color-secondary-light: #1d2c67;
$color-secondary-dark: #0c122c;
/////////////////////
//Breakpoint Variables
$bp-large: 68.75em; //1100px
$bp-medium: 50em; //800px
$bp-small: 34.375em; //550px